export(glm)

importFrom(stats, .getXlevels)
importFrom(stats, gaussian)
importFrom(stats, glm.control)
importFrom(stats, glm.fit)
importFrom(stats, is.empty.model)
importFrom(stats, model.extract)
importFrom(stats, model.matrix)
importFrom(stats, model.offset)
importFrom(stats, model.response)
importFrom(stats, model.weights)

importFrom(lpSolveAPI, get.dual.solution)
importFrom(lpSolveAPI, get.variables)
importFrom(lpSolveAPI, lp.control)
importFrom(lpSolveAPI, make.lp)
importFrom(lpSolveAPI, set.basis)
importFrom(lpSolveAPI, set.bounds)
importFrom(lpSolveAPI, set.column)
importFrom(lpSolveAPI, set.constr.type)
importFrom(lpSolveAPI, set.objfn)
importFrom(lpSolveAPI, set.rhs)

